.wrapper {
  width: 78%;
  margin-left: 10%;
}

table {
  text-align: center;
  border-collapse: collapse;
}

tr {
  border: 1px solid;
}
td,
th {
  padding: 12px;
  border: 1px solid;
}
#table {
  margin-top: 12px;
  width: 610px;
}

#os,
#brand,
#search-input {
  padding: 5px;
}
